*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, white, rgb(19, 12, 31));
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    background-color: rgb(52, 49, 65);
    padding: 0.3rem;
    color: white;
    position: relative;
}

header button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: none;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.5rem;
    justify-content: flex-end;
    overflow-y: scroll;
}

.message {
    background: linear-gradient(to right, rgb(39, 30, 54), rgb(162, 153, 179));
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.3rem;
    color: white;
}

.message:nth-child(3){
    align-self: flex-end;
}

.form {
    display: flex;
}

.form input {
    flex-grow: 1;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.form button {
    background-color: rgb(46, 41, 58);
    color: white;
    padding: 0 1rem;
    font-size: 1.2rem;
}

.auth {
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    background-color: purple;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
}

form label {
    margin-top: 0.5rem;
}

form input {
    padding: 0.3rem;
}

form button {
    margin-top: 1rem;
    background-color: white;
    border: none;
    padding: 0.5rem;
}

